sentence-transformers
torch
torchvision
python-dotenv
beautifulsoup4
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
requests
typesense
textblob
openai
gensim
langdetect
nltk
pandas
pyod
rake-nltk
scikit-learn
spacy
transformers
wikipedia
geotext
geopy
geopy[photon]
memory_profiler
